@media (min-width: 760px) {
  .container {
    padding: 40px 90px;
    margin: 0 auto;
  }

  #header.default {
    height: 100px;
    min-height: 100px;
    background-color: transparent;
  }
  
  #header.scrolled {
    height: 50px;
    min-height: 50px;
    background-color: #555;
  }

  #header {
    a {
      text-decoration: none;
    }

    .container {
      padding: 0 90px;
      align-items: center;
    }

    .logo {
      font-size: 40px;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    .toggler {
      display: none;
    }

    #nav {
      display: flex;
      flex-basis: initial;
      flex-grow: initial;

      ul {
        flex-direction: row;
        margin: auto 0;
      }

      li {
        display: inline-block;
      }
    
      a {
        display: inline-block;
        padding: 0 1.5rem;
      }
    }    
  }

  #about {
    .row {
      flex-direction: row;
      .col {
        flex: 1;
      }
    }
    .intro {
      margin-right: 40px;
    }
  }

  #projects {
    .grid-container  {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, 275px);
      @media (min-width: 1020px) {
        grid-template-columns: repeat(auto-fill, 340px);
      }
    }
  }

  #contact {
    .email {
      font-size: 30px;
    }
  }
}
