@media (min-width: 760px) {
  .container {
    padding: 40px 90px;
    margin: 0 auto;
  }

  #header.default {
    height: 100px;
    min-height: 100px;
    background-color: transparent;
  }
  
  #header.scrolled {
    height: 50px;
    min-height: 50px;
    background-color: #555;
  }

  #header {
    a {
      text-decoration: none;
    }

    .container {
      padding: 0 90px;
      align-items: center;
    }

    .logo {
      font-size: 40px;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    .toggler {
      display: none;
    }

    #nav {
      display: flex;
      flex-basis: initial;
      flex-grow: initial;

      ul {
        flex-direction: row;
        margin: auto 0;
      }

      li {
        display: inline-block;
        border-radius: 3px;
      }
    
      a {
        font-weight: bold;
        display: inline-block;
        padding: 0 1.5rem;
        transition-duration: 0.2s;
      }
    }    
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    .col {
      flex: 1;
    }
  }

  #landing {
  }

  .landing-title {
  }

  section {
    text-align: center;
  }

  .headline {
    display: inline-block;
    font-size: 35px;
    text-align: center;
    margin: 20px 0 40px;
    position: relative;
  }

  .headline::after {
    position: absolute;
    content: " ";
    display: block;
    bottom: -5px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: brown;
  }

  #about {
    min-height: 100vh;
    .row {
      margin-top: 30px;
      text-align: left;
    }
    h3 {
      margin: 0;
    }
  }

  #projects {
  }

  #contact {
    margin-bottom: 3rem;
    margin: 0 auto;
    text-align: center;

    .email {
      font-size: 30px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
    }

    .social-media {
      display: flex;
      justify-content: center;

      a {
        margin: 0 5px;
      }

      i {
        color: gray;
      }
    }
  }

  footer {
    text-align: center;
    margin: 2rem auto;
  }
}
