.navbar {
  color: #3a3a3a;
  background-color: #91e280;
}

.navbar-title {
  color: #3a3a3a;
  font-weight: bold;
  justify-content: start;
}

.navbar-menu {
  border: none;
  border-radius: 3px;
  color: #3a3a3a;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  justify-content: end;
  margin-right: 15px;
}

.navbar-menu:hover {
  color: gray;
  text-decoration: none;
}

.button--link {
  background: none;
}

.landing {
  color: #3a3a3a;
  background-color: #91e280;
}

.landing-title {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  @media screen and (max-width: 576px) {
    font-size: 2rem;
  }
  span {
    margin-top: 2px;
    width: 50%;
    font-size: 4.5rem;
    @media screen and (max-width: 576px) {
      font-size: 3rem;
    }
  }
}

#about {
  font-size: 1.5rem;
}

#contact {
  margin-bottom: 3rem;

  .contact-title-row {
    margin: auto;
    width: 50%;
    border-bottom: 0.1rem solid black;
  }
  .contact-title-column {
    margin-bottom: 0.2rem;
  }

  .contact-content {
    margin-top: 1rem;
  }

  a {
    margin-right: 2rem;
  }

  i {
    color: gray;
  }
}