.landing-title {
  border-bottom: 0.3rem solid gray;
}

.skill-table-header {
  width: 5px;
  text-align: center;
  vertical-align: middle;
}

.contact-title {
  border-bottom: 0.1rem solid black;
}

#contact {
  a {
    margin-right: 2rem;
  }

  i {
    color: gray;
  }
}